.photo-grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(4, auto);
  margin: 92px 48px 0;
}

@media (max-width: 1278px) {
  .photo-grid {
    grid-template-columns: repeat(3, auto);
  }
}
@media (max-width: 1023px) {
  .photo-grid {
    grid-template-columns: repeat(2, auto);
    margin: 88px 24px 0;
  }
}
@media (max-width: 767px) {
  .photo-grid {
    grid-template-columns: repeat(1, auto);
    gap: 12px;
    margin: 64px 16px 0;
  }
}
