.places {
    padding: 0;
    margin: 92px auto 0;
    width: min(984px, 100%);
    box-sizing: border-box;
  }
  
  @media (max-width: 1024px) {
    .places {
      width: min(928px, 100%);
    }
  }
  
  @media (max-width: 768px) {
    .places {
      width: min(720px, 100%);
    }
  }