.pearent {
    background-color: gray;
    height: 480px;
    width: 100%;
}

.child {
    background-color: bisque;
    background-image: url(./images/cover-trains.jpg);
    background-size: cover;
    background-position: center;
    padding-bottom: 62.5%;
    width: 100%;
}