.intro {
  padding-top: 92px;
  padding-left: 148px;
  display: flex;
  flex-direction: column;
  width: min(838px, 100%);
  box-sizing: border-box;
}

@media (max-width: 1023px) {
  .intro {
    width: min(720px, 100%);
    padding-left: 48px;
  }
}
@media (max-width: 767px) {
  .intro {
    padding: 88px 24px 0;
  }
}
@media (max-width: 320px) {
  .intro {
    width: min(288px, 100%);
    padding: 64px 16px 0;
  }
}
