.root {
  font-family: Inter, Arial, sans-serif;
  background-color: black;
  color: white;
  padding: 28px 48px 24px;
}

a:hover {
  opacity: 80%;
}

@media (max-width: 1024px) {
  .root {
    padding: 28px 0;
  }
}