.cover__overlay {
  background-image: linear-gradient(#2a2c2f1e,#2a2c2f1e), url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;

  padding-bottom: 62.5%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.cover__overlay:hover {
  background-image: linear-gradient(#2a2c2f88,#2a2c2f88), url(../../../images/cover-trains.jpg);
}
