.cover__overlay {
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: min(1184px, 100%);
  margin: 92px auto 0;
  padding: 0;
  box-sizing: border-box;
  aspect-ratio: 16 / 10;

  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-position: center;
}

.cover__overlay::before {
  content: "";
  background-color: #2A2C2F;
  opacity: 30%;
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.cover__overlay:hover::before {
  opacity: 80%;
}

@media (max-width: 768px) {
  .cover__overlay {
    margin-top: 90px;
  }
}

@media (max-width: 600px) {
  .cover__overlay {
    margin-top: 60px;
  }
}